<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gulp - Nunjucks template</title>

    <link href="css/main.css" rel="stylesheet">

    <!-- build:js js/vendor-predom.js -->
        <script src="../vendor/html5shiv/dist/html5shiv.js"></script>
    <!-- endbuild -->
</head>
<body>
    <div id="wrapper">
        <header>
        <a href="#" class="brand"><img src="http://placehold.it/200x100"></a>
        <h1>Gulp - Nunjucks starter template</h1>
      </header>

        {% block main %}{% endblock %}

    </div>

    <!-- build:js js/vendor-postdom.js -->
    <script src="../vendor/jquery/dist/jquery.js"></script>
    <!-- endbuild -->

    <!-- build:js js/main.js -->
    <script src="js/main.js"></script>
    <!-- endbuild -->
</body>
</html>
